.imageSize{
    width: 150px;
    height: 150px;
}
/* .mainTableData{
    background: #000;
} */
#imageDiv{
    float: left;
    padding-right: 30px;

}
#NameSurnameDiv{
    float: left;
    padding-right: 30px;
}
#socialMediaDiv{
    clear: both;
    padding: 10px;
}