.loader {
    width: 65px;
    height: 40px;
    --g1:conic-gradient(from  90deg at left   2px top   2px,#0000 90deg,#fff 0);
    --g2:conic-gradient(from -90deg at bottom 2px right 2px,#0000 90deg,#fff 0);
    background:var(--g1),var(--g1),var(--g1), var(--g2),var(--g2),var(--g2);
    background-position: left,center,right;
    background-repeat: no-repeat;
    animation: l9 1s infinite;
    margin-left: 5px;
  }
  @keyframes l9 {
    0%   {background-size:20px 50% ,20px 50% ,20px 50%}
    25%  {background-size:20px 100%,20px 50% ,20px 50%}
    50%  {background-size:20px 50% ,20px 100%,20px 50%}
    75%  {background-size:20px 50% ,20px 50% ,20px 100%}
    100% {background-size:20px 50% ,20px 50% ,20px 50%}
  }
  .tdLoader{
    color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
  }